body {
  font-family: monospace;
  counter-reset: section; 
  margin: 0;
  padding: 0;
}
/* .container {
  height: 200px;
  background-color: rgb(228, 222, 222);
  border-radius: 5px;
  width: 900px;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
} */

.note-container{
  display: flex;

}
 .stretch{
  flex: 1;
}


.note-container .normal { flex: 0; margin: 0 0 0 1rem; }
.note-container  input { padding: .5em 1em; width: 50%; }
.submi {
  background-color: green;
  color: white;
  border-radius: 5px;
  height: 30px;
  border: none;
}
.text-area-border {
  border: 1px solid rgb(151, 149, 149);
  max-width: 500px;
}
.move {
  /* margin-left: 40px; */
  min-width: 60px;
}
.down {
  margin-top: 35px;
}
.contain {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
/* h3 {
  margin-left: 230px;
} */
.hr {
  width: 900px;
  margin-left: 220px;
}
/* .mini {
  margin-left: 62%;
} */

li{
  display: flex;
}
.return {
  width: 85%;
}

.return::before{
  counter-increment: section;
  content: " " counter(section) ". ";
}
/* .span {
  width: 85%;
} */

/* ul {
  margin: 0;
  padding: 0;
} */

li {
  margin: 5px 0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background: #c1c7cc;
  color: rgb(39, 38, 116);
  list-style: none;
  justify-content: space-between;
  width: 500px;
}

li.drag-sort-active {
  background: transparent;
  color: transparent;
  border: 1px solid #4ca1af;
}

span.drag-sort-active {
  background: transparent;
  color: transparent;
}



.list-show{
  display: flex;
  max-width: 40%;;
  margin-top: 10px;
  justify-content: space-between;
}


.name-list{
  padding: 0;
}

.name-list li{
  flex: 1;
}
@media only screen and (max-width: 441px){
  li {
    margin: 5px 0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background: #c1c7cc;
    color: rgb(39, 38, 116);
    list-style: none;
    justify-content: space-between;
    width: 400px;
  }


}